@import url("./fonts.css");

html{
    padding: 0;
    margin: 0;
    font-family: Montserrat-Regular;
    height: 100%;
    width: 100%;
}

body {
  background: linear-gradient(135deg, #21e2a93d, #9857ff38);
  color: #000000;
  padding: 0;
  margin: 0;
}

.div_central{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56dvh;
    width: 100%;
}

.div_img{
    justify-content: center;
    align-items: center;
    height: 46dvh;
    width: 50%;
    display: flex;
}

.pastelito_img{
    max-width: 50%;
    height: auto;
}

.text_in{
    width: 90%;
    text-align: center;
    max-width: 2000px;
    font-size: 28px;}

.div_text{
    display: flex;
    justify-content: center;
    height: 40dvh;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.boton_in{
    background: linear-gradient(135deg, #319115, #319115);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.modal_contenido {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 10% auto;
    border-radius: 10px;
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}


.modal.mostrar {
    opacity: 1;
    visibility: visible;
}

.modal_contenido {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    /* animación del contenido */
    transform: translateY(-50px) scale(0.9);
    opacity: 0;
    transition: transform 0.4s ease;
}

.modal.mostrar .modal_contenido {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.modal.mostrar .modal_contenido {
    transform: translateY(0);
}

.cerrar {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

body.dark-mode .section {
  background: #1e1e1e;
}

body.dark-mode .section-title {
  color: #90caf9;
  border-bottom: 2px solid #90caf9;
}

body.dark-mode menu {
  background-color: #0d1b2a;
}

body.dark-mode menu ul li a {
  color: #eceff1;
}

body.dark-mode menu ul li a:hover {
  background-color: #bb86fc;
  color: #000;
}

body.dark-mode .container {
  color: #cfd8dc;
}

body.dark-mode {
  background: linear-gradient(80deg, #000000, #1a0033, #013b06);
  color: rgb(255, 255, 255);
}

body.dark-mode .boton_in{
    background-color: #502ded;
    color: white;
}